.container-5{
    max-width: 100%;
    width: 1440px;
    padding-top: 53px;
    margin: auto;
    h1{
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 100%;
        text-align: center;
        color: #000000;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        text-align: center;
        color: #000000;
        padding-top: 32px;
    }
    .photo-5{
        padding-top: 52px;
        max-width: 100%;
    }
}