.container-3{
    max-width: 100%;
    width: 640px;
    margin: auto;
    display: flex;
    .block{
        margin-left: 15px;
        height: 300px;
    }
    @media screen and (max-width: 660px){
        flex-flow: column;
    }
}