.container-2{
    max-width: 100%;
    width: 854px;
    margin: auto;
    padding: 65px 0;
   h1{
    margin-top: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 100%;
    text-align: center;
    color: #000000;
   }
   p{
    margin-top: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #000000;
   }
   .line{
       margin-top: 34px;
   }
   h2{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    margin-top: 64px;
}
//    @media screen and (max-width:854px){
     
//    }
}