.container-7{
    padding-top: 132px;
    max-width: 100%;
    width: 980px;
    margin: auto;
    h1{
        font-size: 44px;
        padding-top: 73px;
    }
    .news{
        display: flex;
        padding-top: 27px;
        .first-column{
            .block1{
                height: 280px;
            }
        }
        .second-column{
            margin-left: 28px;
            .block1{
                height: 280px;
            }
        }
        .third-column{
            margin-left: 28px;
            .block1{
                height: 280px;
            }
        }
        @media screen and (max-width: 1010px){
            flex-flow: column;
            display: flex;
        }
    }
}