.container {
    max-width: 100%;
    width:1315px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    padding: 40px 40px;
    .links{
        text-decoration: none;
        margin-left: 35px;
        color: #000000;
    }
    @media screen and (max-width: 760px){
        flex-flow: column;
    }
}
