/* body {
  margin: 0;
}

.navbar {
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
display: flex;
font-size: 20px;
margin-top: 52px;
justify-content: space-between;
}
.logo{
  margin-left: 63px;
}
.article h1{
  font-size: 54px;
  margin-top: 44px;
  
}
.article{
  margin-top: 77px;
}
.line{
  margin-top: 34px;
  width: 640px;
  margin:auto;
}
.container h1{
  margin-top: 64px;
  font-size: 44px;
}
.article h2{
  font-size: 44px;
  margin-top: 64px;
}
.first-column{
  width: 304px;
  height: 350px;  
}
.second-column{
  width: 304px;
  margin-left: 16px;
}
.container{
  display: flex;
  justify-content: center;
}
.block{
  height: 300px;
}
.links a{
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  margin-left: 31px;
}
.wrap a{
  font-size: 20px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 15px;
}
.wrap a:nth-child(odd){
  font-weight: bold;
}
.container-1{
  display: flex;
  flex-shrink:0;
  justify-content: center;
}
.wrap{
  background-color: #000000;
}
.last-photo{
  margin-top:105px;
}
.social-media a{
  margin-left: 27px;
  color: #FFFFFF;
}
.info{
  background-color: #000000;
  color: #FFFFFF;
}
.social-media{
  margin-top: 32px;
  color: #FFFFFF;
}
.social-media p{
  margin-top: 64px;
  font-size: 12px;
}
.info p{
  font-size: 16px;
}
.wrap-article{
  margin-top: 53px;
}
.wrap-article p{
  margin-top: 32px;
}
.photo-article{
  width: 100%;
  margin-top: 52px;
}
.line-article{
  margin-top: 32px;
}
.container-aricle{
  max-width: 640px;
  margin: auto;
  text-align: start;
}
.profile{
  display: flex;
  margin-top: 30px;
  
}
.photo-2{
  border-radius: 50%;
  width: 57px;
  height: 57px;
}
.facebook{
  width: 20px;
  height: 20px;
  padding: 12px 25px 10px 25px;
}
.twitter{
  width: 20px;
  height: 20px;
  padding: 12px 25px 10px 25px;
}
.social-media2{
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-left: 230px;
}
.container-aricle p{
  font-size: 20px;
}
.container-aricle h1{
  margin-top: 57px;
}
.photo-position{
  margin: auto;
  margin-top: 52px;
}
.second-profile{
  max-width: 640px;
  text-align: start;
  margin: auto;
  font-size: 20px;
}
.second-profile ul{
  text-align: start;
  margin-top: 52px;
}
.second-profile li{
  height: 56px;
}
.social-media3{
  order: 1px solid #EAEAEA;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: flex;
  height: 64px;
}
.facebook2{
  height: 20px;
  padding: 22px ;
}
.twitter2{
  height: 20px;
  padding: 22px ;
  margin-left: 100px;
}
.tags{
  color: #000000;
}
.profile3{
  display: flex;
  margin-top: 40px;
}
.profile3 p{
  margin-top: 0;
}
.news{
  margin-top: 130px;
  display: flex;
}
.news h1{
  margin-top: 73px;
  font-size: 44px;
  text-align: center;
  display: flex;  
}
.first-column-article{
  display: flex;
}
.first-column-article p{
  margin-top: 20px;
  font-size: 22px;
}
.block1{
  height: 290px;
}
.second-column-article{
  display: flex;
}
.third-column-article{
  display: flex;
} */